DISCORD_BOT_TOKEN=your discord bot token
GUILD_ID=guild id
DB_PATH=database path (default: database)
DEBUG_MODE=set logLevel to debug. (TRUE/YES) if you don't need to show debug logs, remove the DEBUG_MODE environment variable.